.device
{
     padding-top: 11rem;
     background: linear-gradient(to bottom, rgba(#f3eed5, .55), rgba(white, .2)) ,
     url("https://media.istockphoto.com/id/1408518230/fr/photo/mer-sous-marine-ab%C3%AEme-deau-profonde-avec-lumi%C3%A8re-bleue-du-soleil.jpg?b=1&s=170667a&w=0&k=20&c=kjn-PCoGh6n5yjWreaMErueNs9CBuahoIBkIVIk-6Kk=") no-repeat center / cover;
     &-media{
          text-align: center;
                    box-shadow: inset 5px 5px 5px black,
                              inset 10px 10px 10px black,
                              inset 20px 20px 20px black
          ;
     }
     &-image{
          margin: 0 auto -9.3rem;
          display: inline-block;   // thì không dùng center đc -> dùng 1 cái div bao ngoài(-media) để center, or dùng position thì k cần thêm thẻ
          // @include absoluteCenter("left", "relative");
          border-radius: 1rem;
     }
     @include maxWidth(767px){
          padding-top: 5rem;
          &-image{
               max-width: 80%;
               margin-bottom: -4.6rem;
          }
     }
     @include maxWidth(413px){
          &-image{
               max-width: 80%;
               margin-bottom: -4.2rem;
          }
     }
}
