.device
{
     padding-top: 11rem;
     background: linear-gradient(to bottom, rgba(rgb(209, 93, 93), .5), rgba(white, .4)) ,
     url("https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bmF0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60") no-repeat center / cover;
     &-media{
          text-align: center;
     }
     &-image{
          margin: 0 auto -9.3rem;
          display: inline-block;   // thì không dùng center đc -> dùng 1 cái div bao ngoài(-media) để center, or dùng position thì k cần thêm thẻ
          // @include absoluteCenter("left", "relative");
     }
     @include maxWidth(767px){
          padding-top: 5rem;
          &-image{
               max-width: 80%;
               margin-bottom: -4.6rem;
          }
     }
     @include maxWidth(413px){
          
     }
}
