.wedo
{
     padding: 10rem 0;
     // &-container{
     //      @include flexbox(stretch, space-between);
     // }
     // &-content,
     // &-image{
     //      width: calc(50% - 1.5rem);
     /// }  vì code ở màn hình từ 768 trở lên nên không ảnh hưởng gì cả khi ẩn trên này
     &-image{
          object-fit: cover;
     }
     &-item:not(:last-child){
          margin-bottom: 1rem;
     }
     &-item.is-active .wedo-item-content{
          display: block;
     }
     &-item-header{
          @include flexbox(center);
          padding: 1.5rem;
          border: 1px solid $gray-light-color;
          cursor: pointer;
     }
     &-item-icon{
          margin-right: 1.5rem;
          width:  1.5rem;
          height: 1.5rem;
     }
     &-item-title{
          text-transform: uppercase;
          font-weight: 500;
          @include textClamp(1);
          padding-right: 2rem;
     }
     &-item-arrow{
          margin-left: auto;
          color: $gray-dark-color;
          font-size: 2.5rem;
     }
     &-item-content{
          padding: 2rem;
          border: 1px solid $gray-light-color;
          border-top: 0;
          font-size: 1.5rem;
          font-family: $second-font;
          font-style: italic;
          line-height: 1.6;
          color: $text-color;
          font-weight: 300;

          display: none;
     }
     &-item-text{
          height: 13rem;
          overflow-y: auto;
          padding-right: 2rem;
          &::-webkit-scrollbar {
               width: .6rem;
          }
          &::-webkit-scrollbar-track {
               background-color: $gray-light-color;
               border-radius: 2rem;
          }
          &::-webkit-scrollbar-thumb {
               background-color: $third-color;
               border-radius: 2rem;
          }
     }
     @include minWidth(767px){
          // flexbox
          // &-container{
          //      @include flexbox(stretch, space-between);
          // }
          // &-content,
          // &-image{
          //      width: calc(50% - 1.5rem);
          // }
          //: CSS Grid 
          &-container{
               display: grid;
               grid-template-columns: ;
               grid-template-rows: ;
               gap: ;
               grid-template-areas: ;
          }
     }
     @include maxWidth(767px){   /// còn dưới đt thì như này
          padding: 5rem 0;
          &-image{
               margin-bottom: 2rem;
          }
     }
}
