.work
{
     padding-top: 10rem;
     &-list{
          @include flexbox();
     }
     &-column{
          width: 25%
     }
     &-content{
          color: white;
          text-align: center;
     }
     &-icon{
          font-size: 4rem;
          margin-bottom: 1.5rem;
     }
}
@include hoverEffect(".work-item", ".work-content", "false");