extends layout/layout

block vars 
     -title = 'Welcome to Gulp Template workflow'
     -bodyClass = 'home-page'

block container 
     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus provident aspernatur, non totam officiis quod quidem a magni voluptatibus architecto. Earum facilis aspernatur, enim iste provident eveniet deserunt quaerat nemo.
     div ntd
     h2.heading#heading This is a title
     input(type="text", name="email", placeholder="Enter your email")
     ul.list 
          +listItem("1", "Wibu")
               p 
          +listItem("2", "Buwi")
          +listItem("3")