section.about 
     .container 
          +blockBox("What we do", "Story about us", "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam, quo vitae? Architecto ex ratione animi numquam? Modi in vel doloribus rerum omnis tenetur placeat est, ab saepe, accusantium accusamus sapiente!")
          .about-list 
               