section.device 
     .container 
          +blockBox("For all  devices", "Unique design")
          img.deviceimage(src="https://i.pinimg.com/564x/72/05/6d/72056d52e8ba47b58cade2a866f65e53.jpg", alt="")
          