section.device 
     .container 
          +blockBox("For all  devices", "Unique design")
          
          img.device-image(src="https://i.pinimg.com/564x/59/49/a6/5949a662197126dbe4b1673909aa280a.jpg", alt="")
          