footer.footer 
     .container 
          .footer-top 
               .footer-column 
                    a(href="") .footer-heading.footer-heading-logo MoGo 
                    p.footer-desc.text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, dicta eligendi? Maiores tempore excepturi maxime doloremque. Soluta eos dignissimos eius, unde ad totam laboriosam provident sequi neque consequatur. Sit, accusamus?
                    p.footer-follower <strong>15k</strong> followers
                    .footer-social 
                         span.text Follow Us: 
                         .footer-social-list 
                              i.fab.fa-twitter.footer-social-icon 
                              i.fab.fa-instagram.footer-social-icon  
                              i.fab.fa-pinterest.footer-social-icon  
                              i.fab.fa-facebook.footer-social-icon  
                    form.footer-form 
                         input(type="email" placeholder = "Your Email").footer-form-input
                         button.footer-form-button Subcribe 
               .footer-column 
                    h3.footer-heading Blogs 
                    .footer-blog 
                         img.footer-blog-image(src="https://media.istockphoto.com/id/1373240601/fr/photo/d%C3%A9tail-en-gros-plan-dune-puissante-vague-bleu-sarcelle-se-brisant-en-pleine-mer-par-un-apr%C3%A8s.jpg?b=1&s=170667a&w=0&k=20&c=d-cMBXfLs6j8MYB6rKmrqBYRo2_teOncJ7crKnesJZA=", alt="")
                         .footer-blog-info 
                              h4.footer-blog-title Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                              span.footer-blog-date.text.text--light Jan 9, 2016
                    .footer-blog 
                         img.footer-blog-image(src="https://images.unsplash.com/photo-1530053969600-caed2596d242?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHNlYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60", alt="")
                         .footer-blog-info 
                              h4.footer-blog-title Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                              span.footer-blog-date.text.text--light Jan 9, 2016
                    .footer-blog 
                         img.footer-blog-image(src="https://images.unsplash.com/photo-1503756234508-e32369269deb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8c2VhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60", alt="")
                         .footer-blog-info 
                              h4.footer-blog-title Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                              span.footer-blog-date.text.text--light Jan 9, 2016
               .footer-column 
                    h3.footer-heading Instagram 
                    .footer-images 
                         .footer-image 
                              img(src="https://media.istockphoto.com/id/1373329869/fr/photo/int%C3%A9rieur-moderne-de-salle-de-vie-rendu-3d.jpg?b=1&s=170667a&w=0&k=20&c=K8CUEGT08oseP9ZGgv58_QQUGKukTjMp2bKiFPMapNY=", alt="")
                         .footer-image 
                              img(src="https://media.istockphoto.com/id/1373329869/fr/photo/int%C3%A9rieur-moderne-de-salle-de-vie-rendu-3d.jpg?b=1&s=170667a&w=0&k=20&c=K8CUEGT08oseP9ZGgv58_QQUGKukTjMp2bKiFPMapNY=", alt="")
                         .footer-image 
                              img(src="https://media.istockphoto.com/id/1373329869/fr/photo/int%C3%A9rieur-moderne-de-salle-de-vie-rendu-3d.jpg?b=1&s=170667a&w=0&k=20&c=K8CUEGT08oseP9ZGgv58_QQUGKukTjMp2bKiFPMapNY=", alt="")
                         .footer-image 
                              img(src="https://media.istockphoto.com/id/1373329869/fr/photo/int%C3%A9rieur-moderne-de-salle-de-vie-rendu-3d.jpg?b=1&s=170667a&w=0&k=20&c=K8CUEGT08oseP9ZGgv58_QQUGKukTjMp2bKiFPMapNY=", alt="")
                         .footer-image 
                              img(src="https://media.istockphoto.com/id/1373329869/fr/photo/int%C3%A9rieur-moderne-de-salle-de-vie-rendu-3d.jpg?b=1&s=170667a&w=0&k=20&c=K8CUEGT08oseP9ZGgv58_QQUGKukTjMp2bKiFPMapNY=", alt="")
                         .footer-image 
                              img(src="https://media.istockphoto.com/id/1373329869/fr/photo/int%C3%A9rieur-moderne-de-salle-de-vie-rendu-3d.jpg?b=1&s=170667a&w=0&k=20&c=K8CUEGT08oseP9ZGgv58_QQUGKukTjMp2bKiFPMapNY=", alt="")
                         .footer-image 
                              img(src="https://media.istockphoto.com/id/1373329869/fr/photo/int%C3%A9rieur-moderne-de-salle-de-vie-rendu-3d.jpg?b=1&s=170667a&w=0&k=20&c=K8CUEGT08oseP9ZGgv58_QQUGKukTjMp2bKiFPMapNY=", alt="")
                         .footer-image 
                              img(src="https://media.istockphoto.com/id/1373329869/fr/photo/int%C3%A9rieur-moderne-de-salle-de-vie-rendu-3d.jpg?b=1&s=170667a&w=0&k=20&c=K8CUEGT08oseP9ZGgv58_QQUGKukTjMp2bKiFPMapNY=", alt="")
                         .footer-image 
                              img(src="https://media.istockphoto.com/id/1373329869/fr/photo/int%C3%A9rieur-moderne-de-salle-de-vie-rendu-3d.jpg?b=1&s=170667a&w=0&k=20&c=K8CUEGT08oseP9ZGgv58_QQUGKukTjMp2bKiFPMapNY=", alt="")
          .footer-bottom &copy; 2016 MoGo free PSD template by <span> Laaqiq</span>
