footer.footer 
     .container 
          .footer-top 
               .footer-column 
                    h3.footer-heading MoGo 
                    p.footer-desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, dicta eligendi? Maiores tempore excepturi maxime doloremque. Soluta eos dignissimos eius, unde ad totam laboriosam provident sequi neque consequatur. Sit, accusamus?
                    p.footer-follower <strong>15k</strong> followers
                    .footer-social 
                         span Follow Us: 
                         .footer-social-list 
                              i.fa.fa-facebook 
                              i.fa.fa-facebook 
                              i.fa.fa-facebook 
                              i.fa.fa-facebook 
                    form.footer-form 
                         input(type="email" placeholder = "Your Email").footer-form-input
                         button.footer-form
               .footer-column 
               .footer-column 
          .footer-bottom &copy; 2016 MoGo free PSD template by <span> Laaqiq</span>
