footer.footer 
     .container 
          .footer-top 
               .footer-column 
                    h3.footer-heading.footer-heading-logo MoGo 
                    p.footer-desc.text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, dicta eligendi? Maiores tempore excepturi maxime doloremque. Soluta eos dignissimos eius, unde ad totam laboriosam provident sequi neque consequatur. Sit, accusamus?
                    p.footer-follower <strong>15k</strong> followers
                    .footer-social 
                         span.text Follow Us: 
                         .footer-social-list 
                              i.fa.fa-facebook
                              i.fa.fa-facebook 
                              i.fa.fa-facebook 
                              i.fa.fa-facebook 
                    form.footer-form 
                         input(type="email" placeholder = "Your Email").footer-form-input
                         button.footer-form-button Subcribe 
               .footer-column 
                    h3.footer-heading Blogs 
                    .footer-blog 
                         img.footer-blog-image(src="", alt="")
                         .footer-blog-info 
                              h4.footer-blog-title Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                              span.footer-blog-date Jan 9, 2016
                    .footer-blog 
                         img.footer-blog-image(src="", alt="")
                         .footer-blog-info 
                              h4.footer-blog-title Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                              span.footer-blog-date Jan 9, 2016
                    .footer-blog 
                         img.footer-blog-image(src="", alt="")
                         .footer-blog-info 
                              h4.footer-blog-title Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                              span.footer-blog-date Jan 9, 2016
               .footer-column 
                    h3.footer-heading Instagram 
                    .footer-images 
                         .footer-image 
                         img(src="", alt="")
          .footer-bottom &copy; 2016 MoGo free PSD template by <span> Laaqiq</span>
