section.people
     .container 
          +blockBox("Happy clients", "What people say")
          ul.people-list 
               +peopleItem("https://i.pinimg.com/564x/00/87/58/008758cb2fa77e327f1c28f421bc8812.jpg")
               +peopleItem("https://i.pinimg.com/564x/83/d8/84/83d884e47647d98730108f27d6ce0687.jpg")
               +peopleItem("https://i.pinimg.com/564x/ea/a4/a6/eaa4a6b077d84ade1506c88b2c3070ec.jpg")
               +peopleItem("https://i.pinimg.com/564x/82/75/6b/82756ba5e123f71d3e4be764acde98e0.jpg")
               