section.people
     .container 
          +blockBox("Happy clients", "What people say")
          ul.people-list 
               li.people-item 
                    img.people-avatar(src="https://i.pinimg.com/564x/00/87/58/008758cb2fa77e327f1c28f421bc8812.jpg", alt="")
                    .people-info 
                         h3.people-name Matthew Dix
                         span.people-job.text Graphic design
                         p.people-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore totam est voluptas magnam sit nobis reiciendis quia pariatur molestias? Culpa, dolor accusamus quia saepe harum fuga sequi aut quam voluptatum.
               li.people-item 
                    img.people-avatar(src="https://i.pinimg.com/564x/81/35/88/813588c05eba616e7023ad8d7f9d5714.jpg", alt="")
                    .people-info 
                         h3.people-name Matthew Dix
                         span.people-job Graphic design
                         p.people-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore totam est voluptas magnam sit nobis reiciendis quia pariatur molestias? Culpa, dolor accusamus quia saepe harum fuga sequi aut quam voluptatum.
               li.people-item 
                    img.people-avatar(src="https://i.pinimg.com/564x/ea/a4/a6/eaa4a6b077d84ade1506c88b2c3070ec.jpg", alt="")
                    .people-info 
                         h3.people-name Matthew Dix
                         span.people-job Graphic design
                         p.people-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore totam est voluptas magnam sit nobis reiciendis quia pariatur molestias? Culpa, dolor accusamus quia saepe harum fuga sequi aut quam voluptatum.
               li.people-item 
                    img.people-avatar(src="https://i.pinimg.com/564x/82/75/6b/82756ba5e123f71d3e4be764acde98e0.jpg", alt="")
                    .people-info 
                         h3.people-name Matthew Dix
                         span.people-job Graphic design
                         p.people-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore totam est voluptas magnam sit nobis reiciendis quia pariatur molestias? Culpa, dolor accusamus quia saepe harum fuga sequi aut quam voluptatum.