section.quote 
     .container 
          .quote-container 
               //- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
               .quote-content 
                    .quote-icon 
                         img(src="https://i.pinimg.com/564x/43/de/e9/43dee925becd07efb5ed9fc20483c3f2.jpg", alt="")
                    .quote-info 
                         p.quote-desc "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat iure possimus qui quaerat labore assumenda delectus iusto soluta nihil reiciendis repudiandae nisi aperiam nesciunt esse, est fuga at commodi optio?"
                         span.quote-author Jon Doe
               i.fal.fa-angle-right.quote-arrow-right.quote-arrow

