section.quote 
     .container 
          .quote-container 
               i.fa.fa-angle-left.quote-arrow-left 
               .quote-content 
                    .quote-icon 
                         img(src="", alt="")
                         .quote-info 
                              p.quote-desc Lorem
               i.fa.fa-angle-right.quote-arrow-right 

