section.service 
     .container 
          +blockBox("We work with", "Amazing Service")
          .service-container 
               .service-list 
                    
                    .service-item 
                         i.fa.fa-clock.service-item-icon 
                         .service-item-info 
                              h3.service-item-title Web Design
                              p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, possimus deleniti est in vel dolore quam 
                    .service-item 
                         i.fa.fa-home.service-item-icon 
                         .service-item-info 
                              h3.service-item-title Creativity
                              p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, possimus deleniti est in vel dolore quam 
               .service-list 
                    .service-item 
                         i.fa.fa-cog.service-item-icon 
                         .service-item-info 
                              h3.service-item-title SEO
                              p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, possimus deleniti est in vel dolore quam 
                    .service-item 
                         i.fa.fa-clock.service-item-icon 
                         .service-item-info 
                              h3.service-item-title CSS/HTML
                              p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, possimus deleniti est in vel dolore quam 
                    .service-item 
                         i.fa.fa-home.service-item-icon 
                         .service-item-info 
                              h3.service-item-title Digital
                              p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, possimus deleniti est in vel dolore quam 
