section.service 
     .container 
          +blockBox("We work with", "Amazing Service")
          .service-list 
               .service-item 
                    i.fa.fa-cog.service-item-icon 
                    .service
