section.story 
     .container 
          +blockBox("Out stories", "latest blog")
          ul.story-list 
               li.story-item 
                    .story-media 
                         img.story-image(src="", alt="")