section.story 
     .container 
          +blockBox("Out stories", "latest blog")
          ul.story-list 
               li.story-item 
                    .story-media 
                         img.story-image(src="https://media.istockphoto.com/id/1414913078/fr/photo/zoom-arri%C3%A8re-vue-a%C3%A9rienne-%C3%A9tonnante-dun-homme-conduisant-une-motomarine-dans-loc%C3%A9an-cr%C3%A9ant.jpg?b=1&s=170667a&w=0&k=20&c=EUpKk8GpyCu0mgUOlZ3YEi9S_aWXOQC3MKVFS3pemPs=", alt="")
                         .story-date 
                              span.story-date-number 15
                              span.story-date-text Jan
                    h3.story-title Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    p.