section.story 
     .container 
          +blockBox("Out stories", "latest blog")
          ul.story-list 
               +storyItem("https://media.istockphoto.com/id/1414913078/fr/photo/zoom-arri%C3%A8re-vue-a%C3%A9rienne-%C3%A9tonnante-dun-homme-conduisant-une-motomarine-dans-loc%C3%A9an-cr%C3%A9ant.jpg?b=1&s=170667a&w=0&k=20&c=EUpKk8GpyCu0mgUOlZ3YEi9S_aWXOQC3MKVFS3pemPs=")
               +storyItem("https://media.istockphoto.com/id/1427249962/fr/photo/feuilles-tropicales-texture-abstraite-de-feuilles-vertes-dans-le-jardin-fond-de-nature.jpg?b=1&s=170667a&w=0&k=20&c=Q8_U5k3jLJ23a0GsFmUVI2YluV_BJJvh5RzwL1oXsJY=")
               +storyItem("https://media.istockphoto.com/id/1404059355/fr/photo/plate-forme-p%C3%A9troli%C3%A8re-par-sunset.jpg?b=1&s=170667a&w=0&k=20&c=N2Tl1vafMzc3grYdk0UMcQf15-4_c5JXuN1Cw7hElnE=")

