section.team 
     .container 
          +blockBox("Who we are", "Meet Our Team", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, ea. Fuga laboriosam aspernatur tempora quos atque fugit a, placeat sed, rerum beatae numquam aut quod dolore repellat saepe tempore. Quisquam.")
          .team-list 
               +teamItem("https://i.pinimg.com/564x/fa/8b/7b/fa8b7b51915bdccd25a434b2ead4c617.jpg","NTienDat", "Junior Front-End Developer")
                    +teamSocial("#NTienDat")
               +teamItem("https://i.pinimg.com/564x/7a/2a/f9/7a2af99320ddfec36e8b6e8365e1cc20.jpg")
                    +teamSocial("#NTienDat")
               +teamItem("https://i.pinimg.com/564x/fe/aa/e0/feaae05ce42c84b2b3e2842295b6a3c8.jpg")
                    +teamSocial("#NTienDat")
section.brand 
