section.quote 
     .container 
          .quote-container 
               +quoteItem("https://i.pinimg.com/236x/59/9f/fd/599ffd059fba60877edc599a6a91d218.jpg", true)
               +quoteItem("https://i.pinimg.com/236x/c3/b8/b0/c3b8b0ffce4deb237d7d3e17c199f541.jpg", true)
               +quoteItem("https://i.pinimg.com/236x/ac/fe/5e/acfe5e2378de0dc299ef64d1a7bd1def.jpg", true)

