section.quote 
     .container 
          .quote-container 
               +quoteItem("https://i.pinimg.com/236x/c4/34/56/c434565400250e6374aebc84ec8daccc.jpg", true)
               +quoteItem("https://i.pinimg.com/236x/c3/b8/b0/c3b8b0ffce4deb237d7d3e17c199f541.jpg", true)
               +quoteItem("https://i.pinimg.com/236x/79/57/52/795752bb55e979f5bed1cd7a7cc2a844.jpg", true)

