section.quote 
     .container 
          .quote-container 
               +quoteItem("https://i.pinimg.com/236x/c4/34/56/c434565400250e6374aebc84ec8daccc.jpg", true)
               +quoteItem("https://i.pinimg.com/236x/45/69/a6/4569a62573fa2a305978c74810dcce21.jpg", true)
               +quoteItem("https://i.pinimg.com/236x/79/57/52/795752bb55e979f5bed1cd7a7cc2a844.jpg", true)

