section.wedo
     .container 
          +blockBox("Service", "What we do", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure aut sint, officia recusandae similique nostrum maxime veniam. Sint debitis unde explicabo nisi ex magni similique illo quasi, dolorum totam consequuntur.")
          .wedo-container 
               img(src="", alt="")
               .wedo