section.wedo
     .container 
          +blockBox("Service", "What we do", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure aut sint, officia recusandae similique nostrum maxime veniam. Sint debitis unde explicabo nisi ex magni similique illo quasi, dolorum totam consequuntur.")
          .wedo-container 
               img(src="", alt="")
               .wedo-content 
                    .wedo-item 
                         .wedo-item-header 
                              img(src="", alt="")
                         .wedo-item-content Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus deserunt voluptatum atque placeat veniam aut necessitatibus exercitationem tempora porro obcaecati quam ipsa ut voluptates quia aspernatur perspiciatis, voluptate odit reiciendis!