section.work 
     .container 
          +blockBox("What we do", "Some of our work", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi rerum quaerat assumenda expedita eaque a praesentium esse iste adipisci, ducimus voluptas, possimus numquam exercitationem, quibusdam perferendis laborum! Illo, eligendi sed!")
     .work-list 
          .work-column 
               +workItem("https://i.pinimg.com/564x/d3/b1/7b/d3b17b8b70d3d9d1e3b13d7b810b55d5.jpg")
               +workItem("https://i.pinimg.com/564x/ec/af/34/ecaf344e6abb51fb3a3441e33cb36ab7.jpg", "")
               .work-item 
                    img.work-image(src="https://i.pinimg.com/564x/ec/af/34/ecaf344e6abb51fb3a3441e33cb36ab7.jpg", alt="")
                    .work-content 
                         i.fa.fa-home.work-icon
                         h3.work-title Creative designer 
                         span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          .work-column 
               .work-item 
                    img.work-image(src="https://i.pinimg.com/564x/94/8b/bb/948bbb7b16d808fdafe47b7565ac33c0.jpg", alt="")
                    .work-content 
                         i.fa.fa-home.work-icon
                         h3.work-title Creative designer 
                         span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               .work-item 
                    img.work-image(src="https://i.pinimg.com/564x/44/0c/af/440caf587aac0ae07f9c9c7caf88c396.jpg", alt="")
                    .work-content 
                         i.fa.fa-home.work-icon
                         h3.work-title Creative designer 
                         span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          .work-column 
               .work-item.work-item--full
                    img.work-image(src="https://i.pinimg.com/564x/59/49/a6/5949a662197126dbe4b1673909aa280a.jpg", alt="")
                    .work-content 
                         i.fa.fa-home.work-icon
                         h3.work-title Creative designer 
                         span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          .work-column 
               .work-item 
                    img.work-image(src="https://i.pinimg.com/564x/9e/a7/28/9ea728efd5787277e3ae8620a2fa2127.jpg", alt="")
                    .work-content 
                         i.fa.fa-home.work-icon
                         h3.work-title Creative designer 
                         span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               .work-item 
                    img.work-image(src="https://i.pinimg.com/564x/73/e5/a4/73e5a4b5ad6ff7875573dc464e5a73e1.jpg", alt="")
                    .work-content 
                         i.fa.fa-home.work-icon
                         h3.work-title Creative designer 
                         span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit. 
