section.work 
     .container 
          +blockBox("What we do", "Some of our work", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi rerum quaerat assumenda expedita eaque a praesentium esse iste adipisci, ducimus voluptas, possimus numquam exercitationem, quibusdam perferendis laborum! Illo, eligendi sed!")
     .work-list 
          .work-column 
               .work-item 
                    img.work-image(src="https://i.pinimg.com/564x/11/d7/09/11d7092dc387662e356d52759c8059e2.jpg", alt="")
                    .work-content 
                         i.fa.fa-home 
                         h3.work-title 
          