section.work 
     .container 
          +blockBox("What we do", "Some of our work", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi rerum quaerat assumenda expedita eaque a praesentium esse iste adipisci, ducimus voluptas, possimus numquam exercitationem, quibusdam perferendis laborum! Illo, eligendi sed!")
     .work-list 
          .work-column 
               .work-item 
                    img.work-image(src="https://i.pinimg.com/564x/11/d7/09/11d7092dc387662e356d52759c8059e2.jpg", alt="")
                    .work-content 
                         i.fa.fa-home.work-icon
                         h3.work-title Creative designer 
                         span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               .work-item 
                    img.work-image(src="https://i.pinimg.com/564x/1e/a5/46/1ea54657978ba21fd35b17ece905ae6f.jpg", alt="")
                    .work-content 
                         i.fa.fa-home.work-icon
                         h3.work-title Creative designer 
                         span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          .work-column 
               .work-item 
                    img.work-image(src="https://i.pinimg.com/564x/11/d7/09/11d7092dc387662e356d52759c8059e2.jpg", alt="")
                    .work-content 
                         i.fa.fa-home.work-icon
                         h3.work-title Creative designer 
                         span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               .work-item 
                    img.work-image(src="https://i.pinimg.com/564x/1e/a5/46/1ea54657978ba21fd35b17ece905ae6f.jpg", alt="")
                    .work-content 
                         i.fa.fa-home.work-icon
                         h3.work-title Creative designer 
                         span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          .work-column 
               .work-item.work-item--full
                    img.work-image(src="https://i.pinimg.com/564x/59/49/a6/5949a662197126dbe4b1673909aa280a.jpg", alt="")
                    .work-content 
                         i.fa.fa-home.work-icon
                         h3.work-title Creative designer 
                         span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          .work-column 
               .work-item 
                    img.work-image(src="https://i.pinimg.com/564x/11/d7/09/11d7092dc387662e356d52759c8059e2.jpg", alt="")
                    .work-content 
                         i.fa.fa-home.work-icon
                         h3.work-title Creative designer 
                         span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               .work-item 
                    img.work-image(src="https://i.pinimg.com/564x/1e/a5/46/1ea54657978ba21fd35b17ece905ae6f.jpg", alt="")
                    .work-content 
                         i.fa.fa-home.work-icon
                         h3.work-title Creative designer 
                         span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    