section.people
     .container 
          +blockBox("Happy clients", "What people say")
          ul.people-list 
               +peopleItem("https://i.pinimg.com/564x/00/87/58/008758cb2fa77e327f1c28f421bc8812.jpg")
               +peopleItem("https://i.pinimg.com/564x/f4/12/23/f412236e3d877ec3e4c4b440f45e9330.jpg")
               +peopleItem("https://i.pinimg.com/564x/ea/a4/a6/eaa4a6b077d84ade1506c88b2c3070ec.jpg")
               +peopleItem("https://i.pinimg.com/564x/7a/2a/f9/7a2af99320ddfec36e8b6e8365e1cc20.jpg")
               